{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.jsonc",
        ".eslintrc",
        ".vscode/settings.json",
        ".vscode/extensions.json",
        "jsconfig.json",
        "tsconfig.json",
        "devcontainer.json",
        "language-configuration.json"
      ],
      "options": {
        "printWidth": 200
      }
    }
  ]
}
